body{
    background-color: lightblue;
    text-align: center;
}

h1{
    font-size: 35px;
    text-align: center;
    color: white;
}

p{
    font-size: 20px;
    color: navy;
    text-align: center;
}